@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Google+Sans:200,300,400,500,700|Roboto:100,200,300,400,500,700");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

.container {
  display: flex;
  flex-direction: row;
}

.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex: 6;
}
.recommendations {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  flex: 3;
}

.header-content {
}
.report-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.report-form {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: translateY(-50%);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.close-button:hover {
  color: #f00;
}

.bcontent {
  font-family: "Open Sans", sans-serif;
}
.report-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.report-form select,
.report-form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 20px;
}

.report-form button[type="submit"] {
  background-color: #0077cc;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.report-form button[type="submit"]:hover {
  background-color: #005faa;
}

.report-form button[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.report-form button[type="submit"]:disabled:hover {
  background-color: #ccc;
}
